<div style="color:red;">Replace this with real content in each file in _projects folder.</div>
<br>
<div style="font-size: 30px;">{{page.excerpt}}</div>
<br>
Conner never wrote a project page. Conner never wrote a project page. Conner never wrote a project page. Conner never wrote a project page. Conner never wrote a project page. Conner never wrote a project page. Conner never wrote a project page. Conner never wrote a project page. Conner never wrote a project page. Conner never wrote a project page. 
<br><br>
<div style="font-size: 50px;">Get it on Itch.io</div>
<iframe class="itchio-embed-widget" src="//itch.io/embed/3?dark=true" width="" height="" frameborder="0"></iframe>
<br><br>
<div style="color:red;">Replace this with real content in each file in _projects folder.</div>